@font-face {
  font-family: 'product-sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

:root {
  --background_color: #202124;
  --main_color: #03A9F4;
  --secondary_color: #9C27B0;
}

html,
body {
  height: 100%;
  top: 0 !important;
  min-height: 100% !important;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'product-sans';
}

.container-fluid {
  height: 100%;
  top: 0 !important;
  min-height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.row {
  height: 100%;
  top: 0 !important;
  min-height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

p .red {
  color: #D32F2F;
  font-weight: 600;
}

p .green {
  color: #7CB342;
  font-weight: 600;
}

p .purple {
  color: #673AB7;
  font-weight: 600;
}

p .bold {
  font-weight: 600;
}

.title_bold {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

#loader-wrapper {
  display: flex;
  justify-content: center;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--background_color);
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loader {
  width: 100%;
  z-index: 1001;
  position: absolute;
  top: 38%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.loaded .loader {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
  transition-property: all;
  transition-duration: 0.6s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  transition-property: all;
  transition-duration: 0.6s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}

.no-js #loader-wrapper {
  display: none;
}

.loader_txt {
  font-family: 'product-sans';
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main_color);
  margin-top: 28px;
  padding: 9px 38px 9px 38px;
  border-radius: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--main_color);
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}

.lds-default div {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--main_color);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 58px;
  left: 106px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 36px;
  left: 100px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 18px;
  left: 82px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 12px;
  left: 58px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 18px;
  left: 36px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 36px;
  left: 18px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 58px;
  left: 12px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 82px;
  left: 18px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 100px;
  left: 36px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 106px;
  left: 58px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 100px;
  left: 82px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 82px;
  left: 100px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

.nav_bar {
  display: inline-block;
  z-index: 1;
  left: 0.5%;
  bottom: 5.5%;
  position: absolute;
  transition-property: left;
  transition-duration: 0.42s;
}

.nav_button_container {
  height: auto;
  max-height: 3.3rem;
  justify-content: flex-start;
  margin: 10px 2px 10px 0px;
  display: flex;
  position: relative;
  align-items: center;
}

.button_1_txt {
  background-color: var(--background_color);
  color: var(--main_color);
  font-size: 1.15rem;
  font-family: 'product-sans';
  font-weight: 600;
  position: relative;
  z-index: 1;
  left: -24px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 5px 12px 5px 36px;
  border-radius: 0px 24px 24px 0px;
  transition-property: color, padding-left;
  transition-duration: 0.2s, 0.2s;
}

.button_2_txt {
  background-color: var(--background_color);
  color: var(--main_color);
  font-family: 'product-sans';
  font-size: 1.15rem;
  font-weight: 600;
  left: -24px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 5px 12px 5px 36px;
  border-radius: 0px 24px 24px 0px;
  transition-property: color, padding-left;
  transition-duration: 0.2s, 0.2s;
}

.menu_button_1 {
  width: 3.2rem;
  height: 3.2rem;
  background: var(--background_color);
  border-radius: 100px;
  font-family: 'product-sans';
  font-size: 1.2rem !important;
  line-height: 0.9em !important;
  color: var(--main_color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s;
}

.menu_button_1 i {
  font-size: 1.3rem;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu_button_2 {
  width: 3.2rem;
  height: 3.2rem;
  background: var(--background_color);
  border-radius: 100px;
  font-family: 'product-sans';
  font-size: 1.2rem !important;
  line-height: 0.9em !important;
  color: var(--main_color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s;
}

.menu_button_2 i {
  font-size: 1.3rem;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#info_button {
  padding: 10px 14.5px 10px 14.5px;
  font-size: 0.9rem;
  top: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition-property: background-color, color, opacity;
  transition-duration: 0.15s, 0.15s, 0.15s;
}

#info_button_close {
  padding: 9px 11px 9px 11px;
  font-size: 1.05rem;
  top: 0;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition-property: background-color, color, opacity;
  transition-duration: 0.15s, 0.15s, 0.15s;
}

.info_container {
  width: 15%;
  max-height: 60%;
  left: 5%;
  top: 0;
  position: absolute;
  z-index: 2;
  overflow-y: scroll;
  border-radius: 14px;
  margin-top: 103px;
  background-color: var(--background_color);
  color: white;
  transition: left 0.40s;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.info_title_txt {
  font-size: 1.45rem;
  margin-bottom: 1px;
}

.info_title_container {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--background_color);
  padding: 16px;
  font-family: "product-sans";
  position: fixed;
  top: 0;
  width: 15%;
  z-index: 50;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 103px;
}

.info_txt_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 100px 16px 16px 16px;
}

.info_line_div {
  height: 1.35px;
  border-radius: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #BDBDBD;
}

.info_txt_container h5 {
  left: 0;
  font-weight: 700;
}

.content_container {
  width: 100%;
  height: auto;
  background-color: transparent;
  color: white;
  position: relative;
  top: 0%;
  padding: 28px 28px 28px 28px;
}

.left_panel_1 {
  width: 40%;
  height: 87.8%;
  background-color: var(--background_color);
  font-family: 'product-sans';
  top: 0;
  left: -43%;
  position: absolute;
  z-index: 3;
  align-items: center;
  transition: left 0.42s;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  border-radius: 14px;
  margin-top: 103px;
  margin-right: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#main_filter_container {
  width: 100%;
  height: auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.filters_content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_filter_title {
  width: 100%;
  text-align: left;
  font-size: 2.8rem;
  color: white;
  margin-bottom: 36px;
}

.blue_txt {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--main_color);
  border-bottom: 5px solid var(--main_color);
}

.violet_txt {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--secondary_color);
  border-bottom: 5px solid var(--secondary_color);
}

.main_filter_button {
  width: 92%;
  padding: 8px;
  margin: 6px 0px 6px 0px;
  font-family: 'product-sans';
  background-color: transparent;
  border-radius: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--main_color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--main_color);
  transition-property: background-color, color, width;
  transition-duration: 0.3s, 0.1s, 0.2s;
}

.main_filter_button_title_container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  transition: right 0.2s;
  position: relative;
  left: 50%;
  transform: perspective(1px) translateX(-50%);
  transition-property: left, transform;
  transition-duration: 0.2s, 0.2s;
}

#main_filter_1_button_icon,
#main_filter_2_button_icon {
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: var(--main_color);
  color: var(--background_color);
  margin-right: 8px;
  padding: 11px 22px 11px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: 0.1s, 0.1s;
}

.main_filter_button_tittle {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

#check_icon_1,
#check_icon_2 {
  right: 0;
  color: white;
  font-size: 1.1rem;
  display: none;
  margin-right: 16px;
}


#filters_container {
  margin-top: 0px;
  padding-bottom: 0;
  padding-top: 0px;
}

.filters_title {
  width: 100%;
  z-index: 7;
  text-align: left;
  font-size: 2.8rem;
  color: white;
  margin-bottom: 24px;
}

.filters_background {
  position: absolute;
  z-index: 4;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.filters_background_image {
  position: absolute;
  z-index: 5;
  object-position: center;
  object-fit: none;
  width: 100%;
  height: 100%;
}

.filters_background_overlay {
  position: absolute;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(32, 33, 36, 0.85), rgba(32, 33, 36, 1));
}

.filters_container {
  width: 100%;
  z-index: 7;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filters_options_container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.slider_container {
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 12%;
  padding-right: 12%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  display: none;
  transition: display 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.filters_options_container h6 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 3px;
  display: none;
  transition: display 0.2s;
}

.filters_options_container h5 {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 1.05rem;
  display: none;
  transition: display 0.2s;
}

.button_title {
  font-weight: 500;
}

.button_title_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.65s;
  padding: 0px;
  margin-bottom: 14px;
}

.check_message {
  font-weight: 400;
  font-size: 1rem;
  height: 6px;
  margin-top: 0px;
  text-align: center;
}

.filters_icon_container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--secondary_color);
  color: var(--background_color);
  margin-bottom: 8px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.budget_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-right: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#budget_button_icon {
  font-size: 30px;
}

#budget_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.house_type_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-left: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}


#house_type_button_icon {
  font-size: 30px;
}

#house_type_button_title {
  margin-bottom: 0.1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.house_type_buttons_container {
  width: 100%;
  height: auto;
  margin-top: 6px;
  display: none;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.house_type_buttons_container h6 {
  font-size: 0.85rem;
  font-weight: 400;
  text-align: center;
  margin-top: 3px;
  display: inline-block;
}

.house_type_house_button_container {
  height: auto;
  flex: 1 1 0;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.house_type_house_button {
  width: 100%;
  height: auto;
  padding: 6px 0px 4.5px 0px;
  font-family: 'product-sans';
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.3s, 0.3s;
}

.house_type_house_button:hover {
  background-color: white;
  color: var(--secondary_color);
}

.house_type_apto_button_container {
  height: auto;
  flex: 1 1 0;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.house_type_apto_button {
  width: 100%;
  height: auto;
  padding: 6px 0px 4.5px 0px;
  font-family: 'product-sans';
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.3s, 0.3s;
}

.house_type_apto_button:hover {
  background-color: white;
  color: var(--secondary_color);
}

.house_type_both_button_container {
  height: auto;
  flex: 1 1 0;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.house_type_both_button {
  width: 100%;
  height: auto;
  padding: 6px 0px 4.5px 0px;
  font-family: 'product-sans';
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: white;
  transition-property: background-color, color;
  transition-duration: 0.3s, 0.3s;
}

.house_type_both_button:hover {
  background-color: white;
  color: var(--secondary_color);
}

.estratos_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-right: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#estratos_button_icon {
  font-size: 30px;
}

#estratos_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.area_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-left: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#area_button_icon {
  font-size: 30px;
}

#area_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.rooms_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-right: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#rooms_button_icon {
  font-size: 30px;
}

#rooms_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.safety_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-left: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#safety_button_icon {
  font-size: 30px;
}

#safety_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.hospitals_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-right: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#hospitals_button_icon {
  font-size: 30px;
}

#hospitals_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.schools_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-left: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#schools_button_icon {
  font-size: 30px;
}

#schools_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.parks_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-right: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#parks_button_icon {
  font-size: 30px;
}

#parks_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.cai_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-left: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#cai_button_icon {
  font-size: 30px;
}

#cai_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.restaurants_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-right: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#restaurants_button_icon {
  font-size: 30px;
}

#restaurants_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.pubs_filter_button {
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  flex: 1 1 0;
  margin-left: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--secondary_color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary_color);
  transition-property: background-color;
  transition-duration: 0.3s;
}

#pubs_button_icon {
  font-size: 30px;
}

#pubs_button_title {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
  text-align: center;
  font-weight: bold;
}

.left_panel_2 {
  width: 40%;
  height: 87.8%;
  background-color: var(--background_color);
  font-family: 'product-sans';
  top: 0;
  left: -43%;
  position: absolute;
  z-index: 9;
  align-items: center;
  transition: left 0.42s;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  border-radius: 14px;
  margin-top: 103px;
  margin-right: 16px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.about_divider_line {
  width: 100%;
  height: 2px;
  border-radius: 16px;
  background-color: #BDBDBD;
}

.about_developer_container {
  width: 100%;
  height: auto;
  background-color: var(--background_color);
  margin: 76px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_developer_content {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about_developer_content {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_developer_icon {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about_developer_icon h4 {
  width: 100%;
  font-family: "product-sans";
  color: var(--main_color);
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.developer_title_txt {
  width: 100%;
  font-family: "product-sans";
  color: var(--main_color);
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 56px;
}

#developer_icon {
  padding: 18px 20px 18px 20px;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: 424242;
  border-style: solid;
  border-width: 2px;
  border-color: var(--main_color);
  color: var(--main_color);
}

.developer_info_link {
  margin: 0px;
  font-family: "product-sans";
  font-size: 1rem;
  font-weight: 600;
  color: #1565C0;
}

.developer_info_link:hover {
  color: #42A5F5;
}

.page_logo {
  width: 40%;
  height: auto;
}


.checkbox_1:checked~.nav_bar,
.checkbox_2:checked~.nav_bar {
  left: 41.2%;
}

.checkbox_1:checked~.left_panel_1,
.checkbox_2:checked~.left_panel_2 {
  left: 0;
}

.checkbox_1:checked~.left_panel_2,
.checkbox_2:checked~.left_panel_1 {
  left: -43%;
}

.checkbox_1,
.checkbox_2 {
  display: none;
}

.gm-style .gm-style-iw-c {
  max-width: auto !important;
  max-height: auto !important;
  padding: 0px !important;
  overflow: hidden !important;
}

.gm-style-iw-d {
  max-width: auto !important;
  max-height: auto !important;
  padding: 0px !important;
  overflow: hidden !important;
}

.gm-style .gm-style-iw-t::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 11px solid var(--secondary_color) !important;
}

.house_info_window_close_button_container {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: var(--secondary_color);
  border-radius: 50%;
  top: 2px;
  right: 2px;
}

.house_info_window {
  width: 380px;
  height: auto;
  font-family: 'product-sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--secondary_color);
  color: white;
}

.house_info_window_main_content {
  width: 100%;
  height: auto;
  background-color: var(--secondary_color);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.house_info_window_title {
  width: 100%;
  height: auto;
  background-color: var(--background_color);
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.house_info_window_title h1 {
  width: 100%;
  font-size: 2.15rem;
  text-align: center;
  color: white;
  margin: 0px;
  font-weight: bold;
}

.price_container {
  width: auto;
  height: auto;
  margin-top: 6px;
  border-radius: 50px;
  padding: 8px 16px 8px 16px;
  background-color: var(--secondary_color);
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.price_container h1 {
  font-size: 1rem;
  margin: 0px;
}

.house_info_window_icon_container {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.house_info_window_icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--secondary_color);
  color: var(--background_color);
  margin-bottom: 4px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.house_info_window_icon_container h4 {
  color: var(--secondary_color);
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 0px 12px 0px 12px;
}

.house_info_window_list_container {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-left: 12px;
  padding-top: 3px;
}

.house_info_window_data_text{
  font-size: 0.95rem;
  margin-bottom: 3px;
}

.house_info_window_detail_text{
  font-size: 0.95rem;
  margin-bottom: 3px;
  font-weight: bold;
  cursor: pointer;
  color: var(--secondary_color);
  text-decoration: underline var(--secondary_color);
}

.house_info_window_detail_text:hover{
  color: #AB47BC;
}

.house_info_window_owner_info_container {
  width: 100%;
  height: auto;
  background-color: var(--background_color);
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: row;
}

#house_owner_icon {
  font-size: 24px;
}

.house_info_window_house_info_container {
  width: 100%;
  height: auto;
  background-color: var(--background_color);
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
}

#house_info_icon {
  font-size: 24px;
}

#Carrousel {
  width: 100%;
  height: 100%;
}

#carouselInfo {
  width: 100%;
  height: 100%;
}

#containerCarrousel {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: transparent;
}

#house_info_window_buttons_container {
  height: auto;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.house_info_window_list_icon_container {
  flex: 1 1 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.house_info_window_list_icon {
  width: 55px;
  height: 55px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin-bottom: 2px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.house_info_window_list_icon_container h4 {
  color: white;
  font-size: 0.85rem;
  width: 100%;
  text-align: center;
  padding: 0px 12px 0px 12px;
}

#house_info_window_buttons_container i{
  font-size: 24px;
}